<a class="nm-ct-dev-head" href="{{html_url}}" target="_blank">
  <img class="img-circle img-responsive" src="{{avatar_url}}" alt="{{login}}">
  <div class="nm-ct-dev-stat"><p>{{contributions}}<br>commits</p></div>
</a>
<p class="nm-ct-dev-id">{{login}}</p>