<a class="nm-ct-rev-head" href="{{html_url}}" target="_blank">
  <img class="img-circle img-responsive" src="{{avatar_url}}" alt="{{login}}">
  <div class="nm-ct-rev-stat"><p>{{contributions}}<br>reviews</p></div>
</a>
<p class="nm-ct-rev-id">@{{login}}</p>