<div class="row">
  <div class="col-md-1">
    {{created_time}}
  </div>
  <div class="col-md-7">
    <div class="nm-bn-post-content">
      {{#if object_id}}
        <img class="img-responsive" src="https://graph.facebook.com/{{object_id}}/picture">
      {{/if}}
      {{#if message }}
        <div class="nm-bn-post-message-container">
          <p>
            {{#if shortMessage}}
              {{{shortMessage}}} <span class="nm-bn-post-full-message">{{{fullMessage}}}</span>
              <span class="nm-bn-post-see-more">... <a class="js-nm-bn-post-see-more">See More</a></span>
            {{else}}
              {{{message}}}
            {{/if}}
          </p>          
        </div>
      {{/if}}
      <div class="nm-bn-post-bar">
        {{#if comments}}
          <a class="white js-nm-bn-show-comments">{{comments.data.length}} comments</a>
        {{else}}
          <span class="white">No comments</span>
        {{/if}}
        <span class="white">&middot;</span>
        <a class="white">View original post</a>
        <span class="white">&middot;</span>
        <a class="white">Share on Facebook</a>
      </div>
    </div>
    <div class="nm-bn-comments js-nm-bn-comments">
      {{#if comments}}
        <ul class="list-group">
          {{#each comments.data}}
            <li class="list-group-item">
              <div class="media">
                <a class="media-left" target="_blank" href="https://www.facebook.com/{{from.id}}">
                  <img class="img-rounded" src="https://graph.facebook.com/{{from.id}}/picture?type=square" alt="{{from.name}} Thumbnail">
                </a>
                <div class="media-body">
                  <h5 class="media-heading">
                    <a target="_blank" href="https://www.facebook.com/{{from.id}}">{{from.name}}</a>
                  </h5>
                  <p>{{{message}}}</p>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>
