<div class="row">
  <div class="col-md-2 text-right nm-bn-post-date">
    <strong class="nm-bn-post-day">{{date}}</strong><span class="hidden-xs"><br></span>
    <span class="nm-bn-post-month">{{month}}</span>
  </div>
  <div class="col-md-10">
    <div class="nm-bn-post-content">
      {{#if object_id}}
        <img class="img-responsive" src="https://graph.facebook.com/{{object_id}}/picture">
      {{/if}}
      <div class="nm-bn-post-message-container">
        {{#if message }}
          <p>
            {{#if shortMessage}}
              {{{shortMessage}}} <span class="nm-bn-post-full-message">{{{fullMessage}}}</span>
              <span class="nm-bn-post-see-more">... <a class="js-nm-bn-post-see-more">See More</a></span>
            {{else}}
              {{{message}}}
            {{/if}}
          </p>
        {{/if}}
        <div>
          {{#if comments}}
            <a class=" js-nm-bn-show-comments">{{comments.data.length}} comments</a>
          {{else}}
            <span class="highlight thin">No comments</span>
          {{/if}}
          <span class="highlight thin">&middot;</span>
          <a href="https://www.facebook.com/BareNUS/posts/{{postId}}" target="_blank">View original post</a>
          <span class="highlight thin">&middot;</span>
          <a><i class="fa fa-facebook-square fa-lg"></i></a>
          <span class="highlight thin">&middot;</span>
          <a><i class="fa fa-twitter-square fa-lg"></i></a>
        </div>          
      </div>
    </div>
    <div class="nm-bn-comments js-nm-bn-comments">
      {{#if comments}}
        <ul class="list-group">
          {{#each comments.data}}
            <li class="list-group-item">
              <div class="media">
                <a class="media-left" target="_blank" href="https://www.facebook.com/{{from.id}}">
                  <img class="img-rounded" src="https://graph.facebook.com/{{from.id}}/picture?type=square" alt="{{from.name}} Thumbnail">
                </a>
                <div class="media-body">
                  <h5 class="media-heading">
                    <a target="_blank" href="https://www.facebook.com/{{from.id}}"><strong>{{from.name}}</strong></a>  &middot; <span class="nm-bn-comment-date">{{date}}</span>
                  </h5>
                  <p class="nm-bn-comment">{{{message}}}</p>
                  <div class="nm-bn-comment-meta">
                    {{#if like_count}}
                      <span><i class="fa fa-heart"></i> {{like_count}}</span>
                    {{/if}}
                  </div>
                  {{#each comments.data}}
                    <div class="media">
                      <a class="media-left" target="_blank" href="https://www.facebook.com/{{from.id}}">
                        <img class="img-rounded" src="https://graph.facebook.com/{{from.id}}/picture?type=square" alt="{{from.name}} Thumbnail">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">
                          <a target="_blank" href="https://www.facebook.com/{{from.id}}"><strong>{{from.name}}</strong></a> &middot; <span class="nm-bn-comment-date">{{date}}</span>
                        </h5>
                        <p>{{{message}}}</p>
                        <div class="nm-bn-comment-meta">
                          {{#if like_count}}
                            <span><i class="fa fa-heart"></i> {{like_count}}</span>
                          {{/if}}
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>
