<div class="nm-news">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        {{#each newsPagesList}}
          <li role="presentation" {{#if active}}class="active"{{/if}}>
            <a href="{{url}}">{{name}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2">
              <a class="nm-news-logo" target="_blank" href="https://www.facebook.com/{{activePage.id}}">
                <img class="img-rounded img-responsive" src="https://graph.facebook.com/{{activePage.id}}/picture?type=large" alt="news Profile Picture">
              </a>
            </div>
            <div class="col-md-10">
              <h1 class="media-heading">
                <a target="_blank" href="https://www.facebook.com/{{activePage.id}}">{{activePage.name}}</a>
              </h1>
              {{{activePage.description}}}
            </div>
          </div>
        </div>
      </div>
      
      <hr>
      <div class="row">
        <div class="col-md-8">
          <div class="nm-news-feed-container">
            <div id="nm-news-feed-region">
            </div>
            {{#if feedUrl}}
              <div class="row">
                <div class="col-md-10 col-md-offset-2">
                  <button class="btn btn-primary js-nm-news-more-posts">Show more posts</button>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="col-md-4">
          <div class="fb-page" data-href="https://www.facebook.com/{{activePage.id}}" data-hide-cover="false" data-show-facepile="true" data-width="100%">
            <div class="fb-xfbml-parse-ignore"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
