<div><span class="code">{{shortCode}}</span> <span class="title">{{title}}</span></div>
{{typeAbbrev}} <span class="group">[{{group}}]</span>
<div class="room">{{room}}</div>
<div class="week">{{weekStrNoEvery}}</div>
