<td>{{id}}
<td>{{ModuleTitle}}
<td>{{moduleCreditString}}
<td>{{examStr}}
<td class="nm-timetable-action">
  <!--<a href="#" class="plain show-hide icon" title="Show/Hide">-->
    <!--<i class="fa fa-eye{{#unless display}}-slash{{/unless}} fa-lg"></i>-->
  <!--</a>-->
  <a href="/modules/{{id}}" class="plain icon" title="Details">
    <i class="fa fa-info-circle fa-lg"></i>
  </a>
  <a href="#" class="plain remove icon" title="Remove">
    <i class="fa fa-times-circle fa-lg"></i>
  </a>
