<div>
  <span class="code">{{ModuleCode}}</span> 
  <span class="title">{{ModuleTitle}}</span>
</div>
{{typeAbbrev}} <span class="group">[{{ClassNo}}]</span>
<div class="room">{{Venue}}</div>
<div class="week">{{weekStrNoEvery}}</div>
