<td class="code">{{code}}</td>
<td class="details">
  <div class="pull-right">
    <a class="ivle btn btn-default btn-xs"
       data-code="{{code}}"
       href="http://ivle.nus.edu.sg/lms/public/list_course_public.aspx?code={{code}}"
       target="_blank">
      <i class="fa fa-info-circle"></i>&nbsp;IVLE
    </a>
    <button class="add btn btn-xs btn-warning"
            data-code="{{code}}"
            type="button">
      <i class="fa fa-plus-circle"></i>&nbsp;Add
    </button>
  </div>
  <strong>{{title}}</strong>
  <div class="desc">{{description}}</div>
  {{#if prereq}}
  <div><strong>Prerequisites:</strong>&nbsp;{{prereq}}</div>
  {{/if}}
  {{#if preclusion}}
  <div><strong>Preclusions:</strong>&nbsp;{{preclusion}}</div>
  {{/if}}
  {{#if workload}}
  <div><strong>Workload:</strong>&nbsp;{{workload}}</div>
  {{/if}}
</td>
<td class="mc">{{mc}}</td>
<td class="exam">{{examStr}}</td>
<td class="department">{{department}}</td>
