<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="nm-page-heading">Venue Lookup</h1>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="venue">Day:</label>
          <select type="text" class="form-control js-nm-venue-time-day-input" value="{{this.venueDay}}">
            <option val="Monday">Monday</option>
            <option val="Tuesday">Tuesday</option>
            <option val="Wednesday">Wednesday</option>
            <option val="Thursday">Thursday</option>
            <option val="Friday">Friday</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="venue">Start Time:</label>
          <select type="text" class="form-control js-nm-venue-time-start-input" value="{{this.venueStartTime}}">
            <option val="0800">0800</option>
            <option val="0830">0830</option>
            <option val="0900">0900</option>
            <option val="0930">0930</option>
            <option val="1000">1000</option>
            <option val="1030">1030</option>
            <option val="1100">1100</option>
            <option val="1130">1130</option>
            <option val="1200">1200</option>
            <option val="1230">1230</option>
            <option val="1300">1300</option>
            <option val="1330">1330</option>
            <option val="1400">1400</option>
            <option val="1430">1430</option>
            <option val="1500">1500</option>
            <option val="1530">1530</option>
            <option val="1600">1600</option>
            <option val="1630">1630</option>
            <option val="1700">1700</option>
            <option val="1730">1730</option>
            <option val="1800">1800</option>
            <option val="1830">1830</option>
            <option val="1900">1900</option>
            <option val="1930">1930</option>
            <option val="2000">2000</option>
            <option val="2030">2030</option>
            <option val="2100">2100</option>
            <option val="2130">2130</option>
            <option val="2200">2200</option>
            <option val="2230">2230</option>
            <option val="2300">2300</option>
            <option val="2330">2330</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="venue">End Time:</label>
          <select type="text" class="form-control js-nm-venue-time-end-input" value="{{this.venueEndTime}}">
            <option val="0800">0800</option>
            <option val="0830">0830</option>
            <option val="0900">0900</option>
            <option val="0930">0930</option>
            <option val="1000">1000</option>
            <option val="1030">1030</option>
            <option val="1100">1100</option>
            <option val="1130">1130</option>
            <option val="1200">1200</option>
            <option val="1230">1230</option>
            <option val="1300">1300</option>
            <option val="1330">1330</option>
            <option val="1400">1400</option>
            <option val="1430">1430</option>
            <option val="1500">1500</option>
            <option val="1530">1530</option>
            <option val="1600">1600</option>
            <option val="1630">1630</option>
            <option val="1700">1700</option>
            <option val="1730">1730</option>
            <option val="1800">1800</option>
            <option val="1830">1830</option>
            <option val="1900">1900</option>
            <option val="1930">1930</option>
            <option val="2000">2000</option>
            <option val="2030">2030</option>
            <option val="2100">2100</option>
            <option val="2130">2130</option>
            <option val="2200">2200</option>
            <option val="2230">2230</option>
            <option val="2300">2300</option>
            <option val="2330">2330</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="js-nm-available-venue-search btn btn-primary">Search</button>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="venue">Search Venue:</label>
          <input type="text" class="form-control js-nm-venue-input" value="{{this.selectedVenueName}}" placeholder="e.g. COM1-0114">
        </div>
        <button type="submit" class="js-nm-venue-search btn btn-primary">Search</button>
      </div>
    </div>
    <hr>
    {{#if selectedVenue}}
      <h3>Venue Information for "{{this.selectedVenueName}}"</h3>
      {{#each selectedVenue}}
        <hr>
        <div class="row">
          <div class="col-sm-2">
            <strong>{{this.day}}</strong>
          </div>
          <div class="col-sm-10">
            <div class="row">
              {{#if this.classes}}
                {{#each this.classes}}
                  <div class="col-sm-3">
                    <dl>
                      <dd><strong>{{this.StartTime}} - {{this.EndTime}}</strong></dd>
                      <dd><a href="/modules/{{this.ModuleCode}}">{{this.ModuleCode}}</a></dd>
                      <dd>{{this.LessonType}} [{{this.ClassNo}}]</dd>
                      <dd>{{this.WeekText}}</dd>
                    </dl>
                  </div>
                {{/each}}
              {{else}}
                <div class="col-md-12">
                  <p>No classes</p>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      {{#if this.selectedVenueName}}
        <p>No venue information found for <strong>{{this.selectedVenueName}}</strong>.</p>
      {{/if}}
    {{/if}}
    </div>
  </div>
</div>
