<div class="row">
  <div class="col-md-6 col-md-offset-3" id="team">
    <h1 class="nm-page-heading">The Team</h1>
    <hr>
    <p>
      NUSMods is an open source project that relies on the continuous support of its individual contributors and NUS
      student community. We hope to involve more developers and contributors in making NUSMods even better. Please reach
      out to us if you are interested in helping!
    </p>
    <p>These are the members of our core team:</p>
    <br>
    {{#if team}}
      {{#each team}}
        <div class="media">
          <a class="pull-left" href="{{link}}" target="_blank">
            <img class="media-object" src="{{gravatar}}" alt="{{gravatar-alt}}">
          </a>

          <div class="media-body">
            <h4 class="media-heading">{{name}}</h4>
            <p>{{description}}</p>
            <p class="nm-social-icons">
              {{#if facebook}}
                <a href="{{facebook}}" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
              {{/if}}
              {{#if twitter}}
                <a href="{{twitter}}" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
              {{/if}}
              {{#if github}}
                <a href="{{github}}" target="_blank"><i class="fa fa-github fa-lg"></i></a>
              {{/if}}
              {{#if linkedin}}
                <a href="{{linkedin}}" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
              {{/if}}
            </p>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
