<a href="{{url}}" {{#if target}}target="{{target}}"{{/if}} data-toggle="tooltip" data-placement="right" title="{{name}}">
  <i class="fa fa-{{icon}} fa-lg fa-fw"></i>
  {{!-- &nbsp; {{name}} {{#if newLabel}} &nbsp;<span class="label label-info">New!</span>{{/if}} --}}
</a>
