<div class="code-title">{{text}}</div>
<div class="semesters">
  {{#each semesters}}
    {{#if selected}}
      <a class="sem-{{semester}} label nm-module-added remove{{#unless offered}} invisible{{/unless}}"
         data-code="{{../../id}}" data-semester="{{semester}}" title="Remove from Timetable">
        <span>{{semester}}</span><i class="fa fa-times hidden"></i></a>
    {{else}}
      <a class="sem-{{semester}} label label-default add{{#unless offered}} invisible{{/unless}}"
         data-code="{{../../id}}" data-semester="{{semester}}" title="Add to Timetable">
        <span>{{semester}}</span><i class="fa fa-plus hidden"></i></a>
    {{/if}}
  {{/each}}
</div>
