<div class="nm-apps-list-item row">
  <div class="col-md-2">
    <a href="{{url}}">
      <img class="img-rounded img-responsive" src="{{icon_url}}" alt="{{name}} icon">
    </a>
  </div>
  <div class="col-md-10">
    <h3>{{name}}</h3>
    {{#if author}}
      <small>By {{author}}</small>
    {{/if}}
    {{#if description}}
      <p>{{description}}</p>
    {{/if}}
    {{#if url}}
      <p>Try it out: <a href="{{url}}" target="_blank">{{url}}</a></p>
    {{/if}}
    {{#if tags}}
      <p>
        {{#each tags}}
          <span class="label label-primary">{{this}}</span>
        {{/each}}
      </p>
    {{/if}}
  </div>
</div>
<hr>
