<div class="js-nm-bid-stat-tabs" role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation">
      <a data-target=".bidding-history-tab" aria-controls="bidding-history-tab" role="tab" data-toggle="pill">All</a>
    </li>
    {{#each stats}}
      <li role="presentation">
        <a data-target="#{{tabId}}" aria-controls="{{tabId}}" role="tab" data-toggle="pill">{{shortName}}</a>
      </li>
    {{/each}}
  </ul>
  <hr>
  <!-- Tab panes -->
  <div class="tab-content">
    {{#each stats}}
      <div role="tabpanel" class="tab-pane fade bidding-history-tab" id="{{tabId}}">
        <h3 class="highlight thin">{{Semester}}</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Faculty</th>
                <th>Group</th>
                <th>Round</th>
                <th>Quota</th>
                <th>Bidders</th>
                <th>Lowest Bid</th>
                <th>Lowest Succ Bid</th>
                <th>Highest Bid</th>
                <th>Student Acct Type</th>
              </tr>
              {{#if BiddingStats.length}}
                {{#each BiddingStats}}
                  <tr>
                    <td>{{Faculty}}</td>
                    <td>{{Group}}</td>
                    <td>{{Round}}</td>
                    <td>{{Quota}}</td>
                    <td>{{Bidders}}</td>
                    <td>{{LowestBid}}</td>
                    <td>{{LowestSuccessfulBid}}</td>
                    <td>{{HighestBid}}</td>
                    <td>{{StudentAcctType}}</td>
                  </tr>
                {{/each}}
              {{else}}
                <tr>
                  <td colspan="9">No history to show.</td>
                </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    {{/each}}
  </div>
</div>
