<div class="panel-heading">
  <h2 class="panel-title nm-section-title">
    <a href="/modules/{{ModuleCode}}"><span class="highlight">{{ModuleCode}}</span>&nbsp;{{ModuleTitle}}</a>
    <span class="mc">
      {{ModuleCredit}} MCs
    </span>
  </h2>
  <ul class="pagination pagination-sm semester-availability">
    {{#each semestersOffered}}
      <li{{#if offered}} class="active"{{/if}}><span>{{semester}}</span></li>
    {{/each}}
  </ul>
</div>
<div class="panel-body row">
  <dl class="col-sm-9">
    <div class="description">{{ModuleDescription}}</div>
    {{#if Prerequisite}}
      <dt>Prerequisites</dt>
      <dd>{{{linkedPrerequisite}}}</dd>
    {{/if}}
    {{#if Corequisite}}
      <dt>Co-Requisite</dt>
      <dd>{{{linkedCorequisite}}}</dd>
    {{/if}}
    {{#if Preclusion}}
      <dt>Preclusions</dt>
      <dd>{{{linkedPreclusion}}}</dd>
    {{/if}}
    {{#each History}}
      {{#if Lecturers}}
        <dt>Semester {{Semester}} Lecturer(s)</dt>
        {{#each Lecturers}}
          <dd class="lecturer{{#if @last}} last{{/if}}">{{this}}</dd>
        {{/each}}
      {{/if}}
    {{/each}}
  </dl>
  <dl class="col-sm-3">
    {{#if Workload}}
      <dt>Workload</dt>
      <dd class="workload">{{Workload}}</dd>
    {{/if}}
    {{#if hasExams}}
      {{#each History}}
        <dt>Semester {{Semester}} Exam</dt>
        <dd class="exam">
          {{#if examStr}}
            <span>{{examDateStr}}</span>
            <span>{{examTimeStr}}</span>
          {{else}}
            No Exam
          {{/if}}
        </dd>
      {{/each}}
    {{else}}
      <dt>Exams</dt>
      <dd>No Exam</dd>
    {{/if}}
  </dl>
</div>
<div class="panel-footer clearfix">
  <div class="department">{{Department}}</div>
  <div class="buttons">
    <a class="cors btn btn-default btn-xs"
       {{#unless inCORS}}disabled="disabled"{{/unless}}
       href="{{CORSLink}}"
       target="_blank">
      <i class="fa fa-{{#if inCORS}}check{{else}}times{{/if}} fa-fw"></i>&nbsp;CORS
    </a>
    <a class="ivle btn btn-default btn-xs"
       data-code="{{ModuleCode}}"
       href="{{IVLELink}}"
       target="_blank">
      <i class="fa fa-graduation-cap"></i>&nbsp;IVLE
    </a>
    <div class="btn-group">
      <button class="btn btn-primary btn-xs dropdown-toggle"
              data-toggle="dropdown"
              data-code="{{ModuleCode}}"
              type="button">
        <i class="fa fa-plus-circle"></i>&nbsp;Add&nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        {{#each semestersOffered}}
          <li{{#unless offered}} class="disabled"{{/unless}}>
            <a href="#" class="add-timetable" data-semester="{{semester}}">
              Add to Semester {{semester}} Timetable
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <button class="add-bookmark btn btn-info btn-xs"
            data-code="{{ModuleCode}}"
            type="button">
      <i class="fa fa-bookmark"></i>&nbsp;Bookmark
    </button>
  </div>
</div>
