<div class="row corspedia">
  <div class="col-md-3">
    <h1 class="module-code">{{module.ModuleCode}}</h1>
    <h3 class="module-title">{{module.ModuleTitle}}</h3>
    <hr>
    <dl>
      <dd class="module-desc {{#unless module.ShortModuleDescription}} module-desc-more {{/unless}}">
        <span class="desc-less">{{module.ShortModuleDescription}}...
          <div class="desc-full">( <a href="#" class="show-full-desc">See full description</a> )</div>
        </span>
        <span class="desc-more">{{module.ModuleDescription}}</span>
      </dd>
      <dt class="highlight">Credits</dt>
      <dd>{{module.ModuleCredit}}</dd>
      {{#if module.Prerequisite}}
        <dt class="highlight">Pre-requisite(s)</dt>
        <dd>{{{module.parsedPrerequisite}}}</dd>
      {{/if}}
      {{#if module.Preclusion}}
        <dt class="highlight">Preclusion(s)</dt>
        <dd>{{{module.parsedPreclusion}}}</dd>
      {{/if}}
      <dt class="highlight">Department</dt>
      <dd>{{module.Department}}</dd>
      <dt class="highlight">Exam Date</dt>
      {{#if module.examStr}}
        <dd>{{module.examStr}}</dd>
      {{else}}
        <dd>No Exam</dd>
      {{/if}}
      {{#if module.Workload}}
        <dt class="highlight">Weekly Workload</dt>
        <dl class="workload-components">
          {{#if module.WorkloadComponents.lectureHours}}
            <dd>Lecture: {{module.WorkloadComponents.lectureHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.tutorialHours}}
            <dd>Tutorial: {{module.WorkloadComponents.tutorialHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.labHours}}
            <dd>Lab: {{module.WorkloadComponents.labHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.projectHours}}
            <dd>Project: {{module.WorkloadComponents.projectHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.preparationHours}}
            <dd>Preparation: {{module.WorkloadComponents.preparationHours}} hrs</dd>
          {{/if}}
        </dl>
      {{/if}}
    </dl>
  </div>
  <div class="col-md-9 nm-boxify">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          {{#each sectionsInfo}}
            <li {{#equals sectionType ../section}}class="active"{{/equals}}>
              <a href="/modules/{{../module.ModuleCode}}/{{sectionType}}">{{tabTitle}}
                {{#equals sectionType 'reviews'}}
                  <span class="badge" data-disqus-identifier="{{../../module.ModuleCode}}" id="disqus-count"></span>
                {{/equals}}
              </a>
            </li>
          {{/each}}
        </ul>
        <h1>{{sectionTitle}}</h1>
        <hr>
        {{#equals section 'timetable'}}
          <div>
            {{#if module.Timetable}}
              {{#each module.FormattedTimetable}}
                <h3 class="highlight thin">{{LessonType}}s</h3>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Class No</th>
                      <th>Week Type</th>
                      <th>Day</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Venue</th>
                    </tr>
                    {{#each Lessons}}
                      <tr>
                        <td>{{ClassNo}}</td>
                        <td>{{WeekText}}</td>
                        <td>{{DayText}}</td>
                        <td>{{StartTime}}</td>
                        <td>{{EndTime}}</td>
                        <td>{{Venue}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/each}}
            {{else}}
              <p>No timetable data to be shown.</p>
            {{/if}}
          </div>
        {{/equals}}

        {{#equals section 'corspedia'}}
          <div>
            {{#if module.CorsBiddingStats}}
              <div class="well well-sm nm-filter">
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label class="control-label" for="faculty">Your Faculty 
                      <i class="nm-help highlight thin fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="CEG Students are to select <span class='highlight'>Joint Multi-Disciplinary Programmes</span> due to the unique nature of their course." data-html="true"></i>
                    </label>
                    <select class="form-control" name="faculty" id="faculty" data-pref-type="faculty">
                      <option value="default">Your Faculty</option>
                      <option value="Arts &amp; Social Sciences">Arts &amp; Social Sciences</option>
                      <option value="Dentistry">Dentistry</option>
                      <option value="Engineering">Engineering</option>
                      <option value="Joint Multi-Disciplinary Programmes">Joint Multi-Disciplinary Programmes</option>
                      <option value="Law">Law</option>
                      <option value="School Of Business">School Of Business</option>
                      <option value="School Of Computing">School Of Computing</option>
                      <option value="School Of Design And Environment">School Of Design And Environment</option>
                      <option value="Science">Science</option>
                      <option value="University Scholars Programme">University Scholars Programme</option>
                      <option value="Yong Loo Lin School Of Medicine">Yong Loo Lin School Of Medicine</option>
                      <option value="Yong Siew Toh Conservatory Of Music">Yong Siew Toh Conservatory Of Music</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label class="control-label" for="account">Account Type
                      <i class="nm-help highlight thin fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="<span class='highlight'>Programme Account (P)</span><br>Used for Core modules, Higher Level Electives, Major Modules (Cross-Faculty included).<br><br><span class='highlight'>General Account (G)</span><br>Used for UEM (Unrestricted Elective Modules), Minor modules, GEM and SS." data-html="true"></i>
                    </label>
                    <select class="form-control" name="account" id="account" data-pref-type="account">
                      <option value="P">Programme</option>
                      <option value="G">General</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label class="control-label" for="faculty">New Student 
                      <i class="nm-help highlight thin fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="For certain modules, places are reserved for new students in Rounds 1 and 2, recognizing that new students do not have as many points as some of the seniors."></i>
                    </label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="student-radios" id="student-radio-1" value="new" data-pref-type="student" selected>
                        Yes
                      </label>
                      <label>
                        <input type="radio" name="student-radios" id="student-radio-2" value="old" data-pref-type="student">
                        No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div id="bidding-stats"></div>
            {{else}}
              <p>No CORS bidding data to be shown.</p>
            {{/if}}
          </div>
        {{/equals}}

        {{#equals section 'reviews'}}
          <div id="disqus_thread"></div>
        {{/equals}}

      </div>
    </div>
  </div>
</div>
