<div class="col-md-12 corspedia">
  <div class="row">
    <div class="col-md-3">
      <h1 class="module-code">{{id}}</h1>
      <h3 class="module-title">{{title}}</h3>
      <hr>
      <dl>
        <dd class="module-desc {{#unless shortDescription}} module-desc-more {{/unless}}">
          <span class="desc-less">{{shortDescription}}...
            <div class="desc-full">( <a href="#" class="show-full-desc">See full description</a> )</div>
          </span>
          <span class="desc-more">{{description}}</span>
        </dd>
        <dt class="highlight">Credits</dt>
        <dd>{{mc}}</dd>
        {{#if prerequisite}}
          <dt class="highlight">Pre-requisite(s)</dt>
          <dd>{{{parsedPrerequisite}}}</dd>
        {{/if}}
        {{#if preclusion}}
          <dt class="highlight">Preclusion(s)</dt>
          <dd>{{{parsedPreclusion}}}</dd>
        {{/if}}
        <dt class="highlight">Department</dt>
        <dd>{{department}}</dd>
        <dt class="highlight">Exam Date</dt>
        {{#if examStr}}
          <dd>{{examStr}}</dd>
        {{else}}
          <dd>No Exam</dd>
        {{/if}}
        {{#if workload}}
          <dt class="highlight">Weekly Workload</dt>
          <dl class="workload-components">
            {{#if workloadComponents.lectureHours}}
              <dd>Lecture: {{workloadComponents.lectureHours}} hrs</dd>
            {{/if}}
            {{#if workloadComponents.tutorialHours}}
              <dd>Tutorial: {{workloadComponents.tutorialHours}} hrs</dd>
            {{/if}}
            {{#if workloadComponents.labHours}}
              <dd>Lab: {{workloadComponents.labHours}} hrs</dd>
            {{/if}}
            {{#if workloadComponents.projectHours}}
              <dd>Project: {{workloadComponents.projectHours}} hrs</dd>
            {{/if}}
            {{#if workloadComponents.preparationHours}}
              <dd>Preparation: {{workloadComponents.preparationHours}} hrs</dd>
            {{/if}}
          </dl>
        {{/if}}
      </dl>
    </div>
    <div class="col-md-9 nm-boxify nm-boxify-col">
      <div class="row">
        <div class="col-md-12">
        <div ng-repeat="year in data.bid_history_by_year" id="ay13/14-sem-1" ng-show="year.data.length != 0 &amp;&amp; !empty_data" class="ng-scope ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-1" role="tabpanel" aria-expanded="true" aria-hidden="false"><h3 class="ng-binding">AY13/14 Sem 1</h3><!-- ngRepeat: (index, group) in year.data -->
          <div ng-repeat="(index, group) in year.data" class="pure-u-1 ng-scope">
            <table width="100%" class="table table-bordered"><tbody><tr ng-show="index == 0"><th class="lecture-group">Lecture Group</th><th class="bidding-round">Bidding Round</th><th>Quota</th><th>No. of Bidders</th><th>Lowest Bid</th><th>Lowest Succ Bid</th><th>Highest Bid</th></tr><!-- ngRepeat: round in group.bid_info --><tr ng-repeat="round in group.bid_info" class="ng-scope"><td ng-show="$first" rowspan="4" class="lecture-group"><h2 class="ng-binding">1</h2></td><td class="bidding-round ng-binding">2A</td><!-- ngRepeat: value in round.bid_summary --><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">26</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">23</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding success">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">415</td></tr><tr ng-repeat="round in group.bid_info" class="ng-scope"><td ng-show="$first" rowspan="4" class="lecture-group" style="display: none;"><h2 class="ng-binding">1</h2></td><td class="bidding-round ng-binding">2B</td><!-- ngRepeat: value in round.bid_summary --><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">3</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">999</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding success">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">999</td></tr><tr ng-repeat="round in group.bid_info" class="ng-scope"><td ng-show="$first" rowspan="4" class="lecture-group" style="display: none;"><h2 class="ng-binding">1</h2></td><td class="bidding-round ng-binding">3A</td><!-- ngRepeat: value in round.bid_summary --><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">55</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">7</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding success">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">5</td></tr><tr ng-repeat="round in group.bid_info" class="ng-scope"><td ng-show="$first" rowspan="4" class="lecture-group" style="display: none;"><h2 class="ng-binding">1</h2></td><td class="bidding-round ng-binding">3B</td><!-- ngRepeat: value in round.bid_summary --><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">51</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">3</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding success">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">100</td></tr></tbody></table>
          </div>
          <div ng-repeat="(index, group) in year.data" class="pure-u-1 ng-scope">
            <table width="100%" class="table table-bordered"><tbody><tr ng-show="index == 0"><th class="lecture-group">Lecture Group</th><th class="bidding-round">Bidding Round</th><th>Quota</th><th>No. of Bidders</th><th>Lowest Bid</th><th>Lowest Succ Bid</th><th>Highest Bid</th></tr><!-- ngRepeat: round in group.bid_info --><tr ng-repeat="round in group.bid_info" class="ng-scope"><td ng-show="$first" rowspan="4" class="lecture-group"><h2 class="ng-binding">1</h2></td><td class="bidding-round ng-binding">2A</td><!-- ngRepeat: value in round.bid_summary --><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">26</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">23</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding success">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">415</td></tr><tr ng-repeat="round in group.bid_info" class="ng-scope"><td ng-show="$first" rowspan="4" class="lecture-group" style="display: none;"><h2 class="ng-binding">1</h2></td><td class="bidding-round ng-binding">2B</td><!-- ngRepeat: value in round.bid_summary --><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">3</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">999</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding success">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">999</td></tr><tr ng-repeat="round in group.bid_info" class="ng-scope"><td ng-show="$first" rowspan="4" class="lecture-group" style="display: none;"><h2 class="ng-binding">1</h2></td><td class="bidding-round ng-binding">3A</td><!-- ngRepeat: value in round.bid_summary --><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">55</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">7</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding success">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">5</td></tr><tr ng-repeat="round in group.bid_info" class="ng-scope"><td ng-show="$first" rowspan="4" class="lecture-group" style="display: none;"><h2 class="ng-binding">1</h2></td><td class="bidding-round ng-binding">3B</td><!-- ngRepeat: value in round.bid_summary --><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">51</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">3</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding success">1</td><td ng-repeat="value in round.bid_summary" ng-class="{true: 'success', false: 'nothing'}[$index == 3];" class="ng-scope ng-binding nothing">100</td></tr></tbody></table>
          </div>
        
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
