<div class="row corspedia">
  <div class="col-md-3">
    <h1 class="module-code">{{module.ModuleCode}}</h1>
    <h3 class="module-title">{{module.ModuleTitle}}</h3>
    <hr>
    <dl>
      <dd class="module-desc {{#unless module.ShortModuleDescription}} module-desc-more {{/unless}}">
        <span class="desc-less">{{module.ShortModuleDescription}}...
          <div class="desc-full">( <a href="#" class="show-full-desc">See full description</a> )</div>
        </span>
        <span class="desc-more">{{module.ModuleDescription}}</span>
      </dd>
      <dt class="highlight">Credits</dt>
      <dd>{{module.ModuleCredit}}</dd>
      {{#if module.Prerequisite}}
        <dt class="highlight">Pre-requisite(s)</dt>
        <dd>{{{module.parsedPrerequisite}}}</dd>
      {{/if}}
      {{#if module.Preclusion}}
        <dt class="highlight">Preclusion(s)</dt>
        <dd>{{{module.parsedPreclusion}}}</dd>
      {{/if}}
      <dt class="highlight">Department</dt>
      <dd>{{module.Department}}</dd>
      <dt class="highlight">Exam Date</dt>
      {{#if module.examStr}}
        <dd>{{module.examStr}}</dd>
      {{else}}
        <dd>No Exam</dd>
      {{/if}}
      {{#if module.Workload}}
        <dt class="highlight">Weekly Workload</dt>
        <dl class="workload-components">
          {{#if module.WorkloadComponents.lectureHours}}
            <dd>Lecture: {{module.WorkloadComponents.lectureHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.tutorialHours}}
            <dd>Tutorial: {{module.WorkloadComponents.tutorialHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.labHours}}
            <dd>Lab: {{module.WorkloadComponents.labHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.projectHours}}
            <dd>Project: {{module.WorkloadComponents.projectHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.preparationHours}}
            <dd>Preparation: {{module.WorkloadComponents.preparationHours}} hrs</dd>
          {{/if}}
        </dl>
      {{/if}}
    </dl>
  </div>
  <div class="col-md-9 nm-boxify">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          {{#each sectionsInfo}}
            <li {{#equals sectionType ../section}}class="active"{{/equals}}>
              <a href="/modules/{{../module.ModuleCode}}/{{sectionType}}">{{tabTitle}}
                {{#equals sectionType 'reviews'}}
                  &nbsp;<span class="badge" id="disqus-count"></span>
                {{/equals}}
              </a>
            </li>
          {{/each}}
        </ul>
        <h1>{{sectionTitle}}</h1>
        <hr>
        {{#equals section 'timetable'}}
          <div>
            {{#if module.Timetable}}
              {{#each module.FormattedTimetable}}
                <h3 class="highlight thin">{{LessonType}}s</h3>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Class No</th>
                      <th>Week Type</th>
                      <th>Day</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Venue</th>
                    </tr>
                    {{#each Lessons}}
                      <tr>
                        <td>{{ClassNo}}</td>
                        <td>{{WeekText}}</td>
                        <td>{{DayText}}</td>
                        <td>{{StartTime}}</td>
                        <td>{{EndTime}}</td>
                        <td>{{Venue}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/each}}
            {{else}}
              <p>No timetable data to be shown.</p>
            {{/if}}
          </div>
        {{/equals}}

        {{#equals section 'corspedia'}}
          <div>
            {{#if module.CorsBiddingStats}}
              {{#each module.FormattedCorsBiddingStats}}
                <h3 class="highlight thin">{{Semester}}</h3>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Faculty</th>
                      <th>Group</th>
                      <th>Round</th>
                      <th>Quota</th>
                      <th>Bidders</th>
                      <th>Lowest Bid</th>
                      <th>Lowest Succ Bid</th>
                      <th>Highest Bid</th>
                      <th>Student Acct Type</th>
                    </tr>
                    {{#each BiddingStats}}
                      <tr>
                        <td>{{Faculty}}</td>
                        <td>{{Group}}</td>
                        <td>{{Round}}</td>
                        <td>{{Quota}}</td>
                        <td>{{Bidders}}</td>
                        <td>{{LowestBid}}</td>
                        <td>{{LowestSuccessfulBid}}</td>
                        <td>{{HighestBid}}</td>
                        <td>{{StudentAcctType}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/each}}
            {{else}}
              <p>No CORS bidding data to be shown.</p>
            {{/if}}
          </div>
        {{/equals}}

        {{#equals section 'reviews'}}
          <div id="disqus_thread"></div>
        {{/equals}}

      </div>
    </div>
  </div>
</div>
