<div class="panel panel-default">
  <div class="panel-body">
    <fieldset>
      <legend>Active Filters</legend>
      <dl>
        {{#if selectedFiltersParsed}}
          {{#each selectedFiltersParsed}}
            <div class="nm-module-filter-meta-list">
              <dt><strong>{{type}}:</strong></dt>
              <dd>
                {{#each options}}
                <button class="js-nm-module-filter-button btn btn-primary btn-xs" data-filter="{{this}}">
                  {{this}}&nbsp;<span class="fa fa-remove"></span>
                </button>
                {{/each}}
              </dd>
            </div>
          {{/each}}
        {{else}}
          <p>No filters active.</p>
        {{/if}}
      </dl>
    </fieldset>
  </div>
</div>
<hr>
<h3>{{resultsLength}} Modules Found</h3>
<hr>
