<div class="row module-page">
  <div class="col-md-12">
    <h1 class="module-code">{{module.ModuleCode}}</h1>
    <h2 class="module-title">{{module.ModuleTitle}}</h2>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <div class="module-main-content" id="details">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title nm-section-title">Module Details</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <dl>
                    <dt class="highlight">Description</dt>
                    <dd class="module-desc">
                      {{#if module.ModuleDescription}}
                        {{module.ModuleDescription}}
                      {{else}}
                        No description available.
                      {{/if}}
                    </dd>
                    <dt class="highlight">Semesters Offered</dt>
                    <dd>
                      {{#each module.semesterNames}}
                        <span class="label label-default">{{this}}</span>
                      {{/each}}
                    </dd>
                    <dt class="highlight">Modular Credits (MCs)</dt>
                    <dd>{{module.ModuleCredit}}</dd>
                    {{#each module.History}}
                      {{#if Lecturers}}
                        <dt class="highlight">{{semesterName}} Lecturer(s)</dt>
                        {{#each Lecturers}}
                          <dd class="lecturer{{#if @last}} last{{/if}}">{{this}}</dd>
                        {{/each}}
                        </dd>
                      {{/if}}
                    {{/each}}
                    {{#if module.Prerequisite}}
                      <dt class="highlight">Prerequisite(s)</dt>
                      <dd>{{{module.linkedPrerequisite}}}</dd>
                    {{/if}}
                    {{#if module.Corequisite}}
                      <dt class="highlight">Corequisite(s)</dt>
                      <dd>{{{module.linkedCorequisite}}}</dd>
                    {{/if}}
                    {{#if module.Preclusion}}
                      <dt class="highlight">Preclusion(s)</dt>
                      <dd>{{{module.linkedPreclusion}}}</dd>
                    {{/if}}
                    <dt class="highlight">Department</dt>
                    <dd>{{module.Department}}</dd>
                    {{#if module.Workload}}
                      <dt class="highlight">Weekly Workload</dt>
                      <dl class="workload-components">
                        {{#if module.WorkloadComponents.lectureHours}}
                          <dd>Lecture: {{module.WorkloadComponents.lectureHours}} hrs</dd>
                        {{/if}}
                        {{#if module.WorkloadComponents.tutorialHours}}
                          <dd>Tutorial: {{module.WorkloadComponents.tutorialHours}} hrs</dd>
                        {{/if}}
                        {{#if module.WorkloadComponents.labHours}}
                          <dd>Lab: {{module.WorkloadComponents.labHours}} hrs</dd>
                        {{/if}}
                        {{#if module.WorkloadComponents.projectHours}}
                          <dd>Project: {{module.WorkloadComponents.projectHours}} hrs</dd>
                        {{/if}}
                        {{#if module.WorkloadComponents.preparationHours}}
                          <dd>Preparation: {{module.WorkloadComponents.preparationHours}} hrs</dd>
                        {{/if}}
                      </dl>
                    {{/if}}

                    {{#if module.hasExams}}
                      {{#each module.History}}
                        <dt class="highlight">{{semesterName}} Exam Date</dt>
                        <dd>
                          {{#if examStr}}
                            {{examStr}}
                          {{else}}
                            No Exam
                          {{/if}}
                        </dd>
                      {{/each}}
                    {{else}}
                      <dt class="highlight">Exam Date</dt>
                      <dd>No Exam</dd>
                    {{/if}}
                  </dl>
                </div>
                <div class="col-md-4">
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                      <a class="cors btn btn-default"
                         {{#unless module.inCORS}}disabled="disabled"{{/unless}}
                         href="{{module.CORSLink}}"
                         target="_blank">
                        <i class="fa fa-{{#if module.inCORS}}check{{else}}times{{/if}} fa-fw"></i>
                        &nbsp;CORS Link
                      </a>
                    </div>
                    <div class="btn-group">
                      <a class="ivle btn btn-default"
                         data-code="{{module.ModuleCode}}"
                         type="button"
                         href="{{module.IVLELink}}"
                         target="_blank">
                        <i class="fa fa-graduation-cap"></i>
                        &nbsp;IVLE Link
                      </a>
                    </div>
                  </div>
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                      <button class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              data-code="{{module.ModuleCode}}"
                              type="button">
                        <i class="fa fa-plus"></i>&nbsp;Add <span class="hidden-md">Timetable</span>&nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        {{#each module.semestersOffered}}
                          <li{{#unless offered}} class="disabled"{{/unless}}>
                            <a href="#" class="add-timetable" data-semester="{{semester}}">
                              Add to {{name}} Timetable
                            </a>
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button class="add-bookmark btn btn-info"
                              data-code="{{module.ModuleCode}}"
                              type="button">
                        <i class="fa fa-bookmark"></i>
                        &nbsp;Bookmark
                      </button>
                    </div>
                  </div>
                  <hr>
                  <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fnusmods.com%2Fmodules%2F{{module.ModuleCode}}&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=65&amp;appId=1470211126587040" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px; width: 100%;" allowTransparency="true"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="module-main-content" id="prerequisites">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title nm-section-title">Prerequisites Tree</h2>
            </div>
            <div class="panel-body">
              <div class="nm-prerequisites-tree"></div>
            </div>
          </div>
        </div>

        <div class="module-main-content" id="reviews">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title nm-section-title">Reviews &amp; Discussions</h2>
            </div>
            <div class="panel-body">
              <div class="alert alert-warning module-reviews">
                <h4 class="message-title">Hi There!</h4>
                <p>We would like to encourage everyone who enjoyed using NUSMods to contribute back to the community by writing reviews for modules that you have taken before. Your efforts will go a long way in building up a vibrant and rich NUS community.</p>
                <p><strong>Please Note:</strong> Because the experience of each module will differ according to the professor teaching the module. At the start of your review, please state the semester taken and the name of the professor who taught the module in that semester.</p>
              </div>
              <div id="disqus_thread"></div>
            </div>
          </div>
        </div>

        <div class="module-main-content" id="cors">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title nm-section-title">CORS Bidding History</h2>
            </div>
            <div class="panel-body">
            {{#if module.CorsBiddingStats}}
              <div class="well well-sm nm-filter">
                <div class="row">
                  <div class="col-md-5 form-group">
                    <label class="control-label" for="faculty">Your Faculty
                      <i class="nm-help highlight thin fa fa-question-circle" title="CEG Students are to select <span class='highlight'>Joint Multi-Disciplinary Programmes</span> due to the unique nature of their course."></i>
                    </label>
                    <select class="form-control" name="faculty" id="faculty" data-pref-type="faculty">
                      {{#each faculties}}
                        <option value="{{value}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label class="control-label" for="account">Account Type
                      <i class="nm-help highlight thin fa fa-question-circle" title="<span class='highlight'>Programme Account (P)</span><br>Used for Core modules, Higher Level Electives, Major Modules (Cross-Faculty included).<br><br><span class='highlight'>General Account (G)</span><br>Used for UEM (Unrestricted Elective Modules), Minor modules, GEM and SS."></i>
                    </label>
                    <select class="form-control" name="account" id="account" data-pref-type="account">
                      <option value="P">Programme</option>
                      <option value="G">General</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label class="control-label" for="faculty">New Student
                      <i class="nm-help highlight thin fa fa-question-circle" title="For certain modules, places are reserved for new students in Rounds 1 and 2, recognizing that new students do not have as many points as some of the seniors."></i>
                    </label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="student-radios" id="student-radio-1" value="true" data-pref-type="student" selected>
                        Yes
                      </label>
                      <label>
                        <input type="radio" name="student-radios" id="student-radio-2" value="false" data-pref-type="student">
                        No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div id="bidding-stats"></div>
            {{else}}
              <p>No CORS bidding data to be shown.</p>
            {{/if}}
            </div>
          </div>
        </div>

        <div class="module-main-content" id="schedule">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title nm-section-title">Lesson Schedule</h2>
          </div>
          <div class="panel-body">
            <div class="js-nm-ls-schedule-tabs" role="tabpanel">
              <!-- Nav tabs -->
              <ul class="nav nav-pills" role="tablist">
                <li role="presentation">
                  <a data-target=".semester-schedule-tab" aria-controls="semester-schedule-tab" role="tab" data-toggle="pill">All</a>
                </li>
                {{#each module.History}}
                  <li role="presentation">
                    <a data-target="#nm-ls-schedule-sem{{Semester}}" aria-controls="nm-ls-schedule-sem{{Semester}}" role="tab" data-toggle="pill">{{semesterName}}</a>
                  </li>
                {{/each}}
              </ul>
              <hr>
              <!-- Tab panes -->
              <div class="tab-content">
                {{#each module.History}}
                  <div role="tabpanel" class="tab-pane fade semester-schedule-tab" id="nm-ls-schedule-sem{{Semester}}">
                  <h2>{{semesterName}}</h2>
                  {{#each formattedTimetable}}
                    <h3 class="highlight thin">{{LessonType}}</h3>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tbody>
                        <tr>
                          <th>Class No</th>
                          <th>Week Type</th>
                          <th>Day</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                          <th>Venue</th>
                        </tr>
                        {{#each Lessons}}
                          <tr>
                            <td>{{ClassNo}}</td>
                            <td>{{WeekText}}</td>
                            <td>{{DayText}}</td>
                            <td>{{StartTime}}</td>
                            <td>{{EndTime}}</td>
                            <td><a href="/venues/{{Venue}}">{{Venue}}</a></td>
                          </tr>
                        {{/each}}
                        </tbody>
                      </table>
                    </div>
                  {{else}}
                    <p>No timetable data to be shown.</p>
                  {{/each}}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="js-nm-module-nav-container">
          <ul class="nav js-nm-module-nav nm-module-nav hidden-xs hidden-sm" data-spy="affix">
            <li><a href="#details" data-bypass>Details</a></li>
            <li><a href="#prerequisites" data-bypass>Pre-requisites Tree</a></li>
            <li><a href="#reviews" data-bypass>Reviews &amp; Discussions</a></li>
            <li><a href="#cors" data-bypass>CORS Bidding History</a></li>
            <li><a href="#schedule" data-bypass>Timetable</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <button id="back-to-top" class="btn btn-primary">
    <i class="fa fa-arrow-circle-up"></i>Top
  </button>
</div>
