<td class="code"><a href="/modules/{{ModuleCode}}">{{ModuleCode}}</a></td>
<td class="details">
  <div class="pull-right">
    <a class="ivle btn btn-default btn-xs"
       data-code="{{ModuleCode}}"
       href="{{IVLELink}}"
       target="_blank">
      <i class="fa fa-info-circle"></i>&nbsp;IVLE
    </a>
    <button class="add btn btn-primary btn-xs"
            data-code="{{ModuleCode}}"
            type="button">
      <i class="fa fa-plus-circle"></i>&nbsp;Add
    </button>
  </div>
  <strong>{{ModuleTitle}}</strong>
  <div class="desc">{{ModuleDescription}}</div>
  {{#if Lecturers}}
    <div>
      <strong>Lecturer(s):</strong>
      <ul class="lecturers list-inline">
        {{#each Lecturers}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#if Prerequisite}}
    <div><strong>Prerequisites:</strong>&nbsp;{{{linkedPrerequisite}}}</div>
  {{/if}}
  {{#if Preclusion}}
    <div><strong>Preclusions:</strong>&nbsp;{{{linkedPreclusion}}}</div>
  {{/if}}
  {{#if Workload}}
    <div><strong>Workload:</strong>&nbsp;{{Workload}}</div>
  {{/if}}
</td>
<td class="mc">{{ModuleCredit}}</td>
<td class="exam">
{{#if examStr}}
  {{examStr}}
{{else}}
  No Exam
{{/if}}
</td>

<td class="department">{{Department}}</td>
