<div class="row module-page">
  <div class="col-md-3">
    <h1 class="module-code">{{module.ModuleCode}}</h1>
    <h3 class="module-title">{{module.ModuleTitle}}</h3>
    <hr>
    <dl>
      <dd class="module-desc {{#unless module.ShortModuleDescription}} module-desc-more {{/unless}}">
        <span class="desc-less">{{module.ShortModuleDescription}}...
          <div class="desc-full">( <a href="#" class="show-full-desc">See full description</a> )</div>
        </span>
        <span class="desc-more">{{module.ModuleDescription}}</span>
      </dd>
      <dt class="highlight">Credits</dt>
      <dd>{{module.ModuleCredit}}</dd>
      {{#if module.Lecturers}}
        <dt class="highlight">Lecturer(s)</dt>
        <dd>
          <ul class="lecturers list-inline">
            {{#each module.Lecturers}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </dd>
      {{/if}}
      {{#if module.Prerequisite}}
        <dt class="highlight">Prerequisite(s)</dt>
        <dd>{{{module.linkedPrerequisite}}}</dd>
      {{/if}}
      {{#if module.Preclusion}}
        <dt class="highlight">Preclusion(s)</dt>
        <dd>{{{module.linkedPreclusion}}}</dd>
      {{/if}}
      <dt class="highlight">Department</dt>
      <dd>{{module.Department}}</dd>
      <dt class="highlight">Exam Date</dt>
      {{#if module.examStr}}
        <dd>{{module.examStr}}</dd>
      {{else}}
        <dd>No Exam</dd>
      {{/if}}
      {{#if module.Workload}}
        <dt class="highlight">Weekly Workload</dt>
        <dl class="workload-components">
          {{#if module.WorkloadComponents.lectureHours}}
            <dd>Lecture: {{module.WorkloadComponents.lectureHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.tutorialHours}}
            <dd>Tutorial: {{module.WorkloadComponents.tutorialHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.labHours}}
            <dd>Lab: {{module.WorkloadComponents.labHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.projectHours}}
            <dd>Project: {{module.WorkloadComponents.projectHours}} hrs</dd>
          {{/if}}
          {{#if module.WorkloadComponents.preparationHours}}
            <dd>Preparation: {{module.WorkloadComponents.preparationHours}} hrs</dd>
          {{/if}}
        </dl>
      {{/if}}
    </dl>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div class="nm-boxify">
          <ul class="nav nav-tabs" role="tablist">
            {{#each sectionsInfo}}
              <li {{#equals sectionType ../section}}class="active"{{/equals}}>
                <a href="/modules/{{../module.ModuleCode}}/{{sectionType}}">{{tabTitle}}
                  {{#equals sectionType 'reviews'}}
                    <span class="badge" data-disqus-identifier="{{../../module.ModuleCode}}" id="disqus-count"></span>
                  {{/equals}}
                </a>
              </li>
            {{/each}}
          </ul>
          <div> 
            <h2 class="nm-section-heading">{{sectionTitle}} 
              <button class="add-timetable pull-right btn btn-primary"
                      data-code="{{module.ModuleCode}}"
                      type="button">
                  <i class="fa fa-plus"></i>&nbsp;Add {{module.ModuleCode}} To Timetable
              </button>
              <button class="add-bookmark pull-right btn btn-info"
                      data-code="{{module.ModuleCode}}"
                      type="button">
                  <i class="fa fa-bookmark"></i>&nbsp;Bookmark
              </button>
              <a class="ivle pull-right btn btn-default"
                      data-code="{{module.ModuleCode}}"
                      type="button"
                      href="{{module.IVLELink}}"
                      target="_blank">
                  <i class="fa fa-graduation-cap"></i>&nbsp;IVLE
              </a>
            </h2>
            <hr>
            {{#equals section 'schedule'}}
              <div>
                {{#if module.Timetable}}
                  {{#each module.FormattedTimetable}}
                    <h3 class="highlight thin">{{LessonType}}</h3>
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <th>Class No</th>
                          <th>Week Type</th>
                          <th>Day</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                          <th>Venue</th>
                        </tr>
                        {{#each Lessons}}
                          <tr>
                            <td>{{ClassNo}}</td>
                            <td>{{WeekText}}</td>
                            <td>{{DayText}}</td>
                            <td>{{StartTime}}</td>
                            <td>{{EndTime}}</td>
                            <td>{{Venue}}</td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  {{/each}}
                {{else}}
                  <p>No timetable data to be shown.</p>
                {{/if}}
              </div>
            {{/equals}}

            {{#equals section 'corspedia'}}
              <div>
                {{#if module.CorsBiddingStats}}
                  <div class="well well-sm nm-filter">
                    <div class="row">
                      <div class="col-md-5 form-group">
                        <label class="control-label" for="faculty">Your Faculty 
                          <i class="nm-help highlight thin fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="CEG Students are to select <span class='highlight'>Joint Multi-Disciplinary Programmes</span> due to the unique nature of their course." data-html="true"></i>
                        </label>
                        <select class="form-control" name="faculty" id="faculty" data-pref-type="faculty">
                          {{#each faculties}}
                            <option value="{{value}}">{{name}}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div class="col-md-4 form-group">
                        <label class="control-label" for="account">Account Type
                          <i class="nm-help highlight thin fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="<span class='highlight'>Programme Account (P)</span><br>Used for Core modules, Higher Level Electives, Major Modules (Cross-Faculty included).<br><br><span class='highlight'>General Account (G)</span><br>Used for UEM (Unrestricted Elective Modules), Minor modules, GEM and SS." data-html="true"></i>
                        </label>
                        <select class="form-control" name="account" id="account" data-pref-type="account">
                          <option value="P">Programme</option>
                          <option value="G">General</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label class="control-label" for="faculty">New Student 
                          <i class="nm-help highlight thin fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="For certain modules, places are reserved for new students in Rounds 1 and 2, recognizing that new students do not have as many points as some of the seniors."></i>
                        </label>
                        <div class="radio">
                          <label>
                            <input type="radio" name="student-radios" id="student-radio-1" value="true" data-pref-type="student" selected>
                            Yes
                          </label>
                          <label>
                            <input type="radio" name="student-radios" id="student-radio-2" value="false" data-pref-type="student">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                          <p>Corspedia smart filters are still in beta. If you would like to view unfiltered CORS bidding history, click <a class="alert-link" id="show-all-stats">here</a>. Please leave a feedback/comment on our <a href="https://www.facebook.com/NUSMods" class="alert-link" target="_blank">Facebook page</a> if you find any errors.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                {{else}}
                  <p>No CORS bidding data to be shown.</p>
                {{/if}}
                <div id="bidding-stats"></div>
              </div>
            {{/equals}}

            {{#equals section 'modmaven'}}
              <div class="alert alert-warning" role="alert">
                <p>ModMaven's prerequisites trees are still in beta. If you find any errors, please send an email to <a href="mailto:mods@nusmods.com">mods@nusmods.com</a> or leave a feedback/comment on our <a href="https://www.facebook.com/NUSMods" class="alert-link" target="_blank">Facebook page</a>. Thanks!</p>
              </div>
              <div class="modmaven">
                <div id="tree"></div>
              </div>
            {{/equals}}

            {{#equals section 'reviews'}}
              <div id="disqus_thread"></div>
            {{/equals}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
