<div class="panel-heading">
  <h2 class="panel-title nm-section-title">
    <a data-no-module-qtip href="/modules/{{ModuleCode}}">
      {{ModuleCode}} {{ModuleTitle}}
    </a>
  </h2>
  <ul class="pagination pagination-sm semester-availability">
    {{#each semestersOffered}}
      <li{{#if offered}} class="active"{{/if}}><span>{{semester}}</span></li>
    {{/each}}
  </ul>
</div>
<div class="panel-body">
  <div class="row">
    <dl class="col-sm-9">
      <div class="description">
      {{#if ModuleDescription}}
        {{ModuleDescription}}
      {{else}}
        No description available.
      {{/if}}
      </div>
      {{#if Prerequisite}}
        <dt>Prerequisites</dt>
        <dd>{{{linkedPrerequisite}}}</dd>
      {{/if}}
      {{#if Corequisite}}
        <dt>Co-Requisite</dt>
        <dd>{{{linkedCorequisite}}}</dd>
      {{/if}}
      {{#if Preclusion}}
        <dt>Preclusions</dt>
        <dd>{{{linkedPreclusion}}}</dd>
      {{/if}}
      {{#each History}}
        {{#if Lecturers}}
          <dt>Semester {{Semester}} Lecturer(s)</dt>
          {{#each Lecturers}}
            <dd class="lecturer{{#if @last}} last{{/if}}">{{this}}</dd>
          {{/each}}
        {{/if}}
      {{/each}}
    </dl>
    <dl class="col-sm-3 nm-module-item-right-col">
      {{#if Workload}}
        <dt>Weekly Workload</dt>
        <dl class="nm-workload-components">
          {{#if WorkloadComponents.lectureHours}}
            <dd>Lecture: {{WorkloadComponents.lectureHours}} hrs</dd>
          {{/if}}
          {{#if WorkloadComponents.tutorialHours}}
            <dd>Tutorial: {{WorkloadComponents.tutorialHours}} hrs</dd>
          {{/if}}
          {{#if WorkloadComponents.labHours}}
            <dd>Lab: {{WorkloadComponents.labHours}} hrs</dd>
          {{/if}}
          {{#if WorkloadComponents.projectHours}}
            <dd>Project: {{WorkloadComponents.projectHours}} hrs</dd>
          {{/if}}
          {{#if WorkloadComponents.preparationHours}}
            <dd>Preparation: {{WorkloadComponents.preparationHours}} hrs</dd>
          {{/if}}
        </dl>
      {{/if}}
      <hr>
      {{#if hasExams}}
        {{#each History}}
          <dt>{{semesterName}} Exam</dt>
          <dd class="exam">
            {{#if examStr}}
              <span>{{examDateStr}}</span>
              <span>{{examTimeStr}}</span>
            {{else}}
              No Exam
            {{/if}}
          </dd>
        {{/each}}
      {{else}}
        <dt>Exams</dt>
        <dd>No Exam</dd>
      {{/if}}
    </dl>
  </div>
</div>
<div class="panel-footer clearfix">
  <div class="department">
    <a class="js-nm-mi-filter" data-type="Department"
       title="Filter modules from {{Department}}">
      {{Department}}
    </a>
    &middot;
    <a class="js-nm-mi-filter" data-type="ModuleCredit"
       title="Filter modules with {{ModuleCredit}} MCs">
      {{ModuleCredit}} MCs
    </a>
  </div>
  <div class="buttons">
    <a class="cors btn btn-default btn-xs"
       {{#unless inCORS}}disabled="disabled"{{/unless}}
       href="{{CORSLink}}"
       target="_blank">
      <i class="fa fa-{{#if inCORS}}check{{else}}times{{/if}} fa-fw"></i>&nbsp;CORS
    </a>
    <a class="ivle btn btn-default btn-xs"
       data-code="{{ModuleCode}}"
       href="{{IVLELink}}"
       target="_blank">
      <i class="fa fa-graduation-cap"></i>&nbsp;IVLE
    </a>
    <div class="btn-group">
      <button class="btn btn-primary btn-xs dropdown-toggle"
              data-toggle="dropdown"
              data-code="{{ModuleCode}}"
              type="button">
        <i class="fa fa-plus-circle"></i>&nbsp;Add&nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        {{#each semestersOffered}}
          <li{{#unless offered}} class="disabled"{{/unless}}>
            <a href="#" class="add-timetable" data-semester="{{semester}}">
              Add to {{name}} Timetable
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <button class="add-bookmark btn btn-info btn-xs"
            data-code="{{ModuleCode}}"
            type="button">
      <i class="fa fa-bookmark"></i>&nbsp;Bookmark
    </button>
    <a class="nm-module-fb-like btn btn-xs">
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fnusmods.com%2Fmodules%2F{{ModuleCode}}&amp;width=50&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=1470211126587040" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
    </a>
  </div>
</div>
